<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatViz</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
</head>
<body>
    <div class="min-h-screen bg-gradient-to-r from-blue-500 to-purple-500 flex flex-col justify-center items-center">
        <header class="text-white py-4">
            <h1 class="text-4xl">ChatViz</h1>
        </header>

        <div class="flex flex-col items-center space-y-4">
            <label for="file-input" class="file-upload cursor-pointer bg-white p-6 rounded-lg border-4 border-dashed border-gray-400 text-center">
                <img src="{{ url_for('static', filename='images/3979306.png') }}" alt="Click to Upload" class="w-80 h-60 mx-auto mb-4">
                <span class="text-xl">Click here to select a .txt file to load.</span>
            </label>
            <input type="file" id="file-input" accept=".txt" class="hidden">
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
